@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100);

html {
	background-color: #0AC2D2;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: "brandon-grotesque",sans-serif;
	background-color: #0AC2D2;
	margin: 0;
	padding: 0;
}

/* MENU STYLES*/

.menuwrap {
	width: 100%;
	position: absolute;
	bottom: 60;
	z-index: 1000;
}

.menuitemwrap {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
    text-align: center;
}

.menuicon {
	width: 13%;
	height: 13%;
	display: inline-block;
	cursor: pointer;
	z-index: 9999;
	margin:0;
	padding:0;
	border-radius: 50%;
}
.menuicon img {
	display: inline-block;
	max-width: 100%;
	margin: 0;
	padding: 0;
	opacity: 0.6 !important;
}
.menuicon img:hover {
	opacity: 1 !important;
	-webkit-filter: invert(100%);  
}

/* CREATE PAGE STYLES*/
.descwrap input::-webkit-input-placeholder {
    color:    #FFFFFF;
}
.descwrap input:-moz-placeholder {
    color:    #FFFFFF;
}
.descwrap input::-moz-placeholder {
    color:    #FFFFFF;
}
.descwrap input:-ms-input-placeholder {
    color:    #FFFFFF;
}
.descwrap input:focus {
	border: 1px solid #0AC2D2;
	box-shadow: 0;
	outline: none;
	background: rgba(255,255,255,0.2);
}
	
.descwrap input{
	width: 400px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	color: #FFFFFF !important;
	background-color: transparent;
	display: block;
	margin-top: 10px;
}
.descwrap{
	padding: 10px;
	margin-top: 10px;
	margin: 0 auto;
}
.descwrap h2{
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
}

.createoverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.showcreateoverlay {
	opacity: 1;
    visibility: visible;
}

.createcontainer {
	margin: auto;
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.createimagewrap {
	width: 75%;
	height: 100%;
	float: right;
	overflow-y: scroll;
}

.createimage {
	float: left;
	width: 25%;
	height: 50%;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	background: rgba(0,0,0,0.1);
}

.createimageedit {
	position: absolute;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
}

.createimageedit img {
	opacity: 0.5;
	padding: 0;
	margin: 0;
	display: block;
}

.createdescwrap {
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;

}

.createdesc {
	position: absolute;
	right: 40px;
	top: 20px;
	cursor: pointer;
}

.createdesc img{
	opacity: 0.5;
	padding: 0;
	margin: 0;
	display: block;
}

.uploadmodal{
	padding: 10px;
	margin-top: 10px;
	margin: 0 auto;
	width: 340px;
	height: 340px;
	background-color: #FF404F;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -170px;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    -ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	transition: all 0.3s;
}

.hidedescmodal {
	opacity: 0;
	visibility: hidden;
	-ms-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}


.uploadmodal input::-webkit-input-placeholder {
    color:    #FFFFFF;
}
.uploadmodal input:-moz-placeholder {
    color:    #FFFFFF;
}
.uploadmodal input::-moz-placeholder {
    color:    #FFFFFF;
}
.uploadmodal input:-ms-input-placeholder {
    color:    #FFFFFF;
}
.uploadmodal input:focus {
	border: 1px solid #0AC2D2;
	box-shadow: 0;
	outline: none;
	background: rgba(255,255,255,0.2);
}
	
.uploadmodal input{
	width: 300px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	color: #FFFFFF !important;
	background-color: transparent;
	display: block;
	margin-top: 10px;
}

.uploadmodal h2{
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
}

.showuploadmodal {
	opacity: 1;
	visibility: visible;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.uploadwrap {
	margin: auto;
	background: rgba(0,0,0,0.1);
}

.uploadaction {
	position: absolute;
	bottom: 0;
	margin: 10px;
}

.uploadaccept {
	float: left;
}

.uploadcancel {
	float: right;
}
.descmodal{
	padding: 10px;
	margin-top: 10px;
	margin: 0 auto;
	width: 340px;
	height: 340px;
	background-color: #FF404F;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -170px;
    z-index: 2000;
    visibility: visible;
    opacity: 1;
    -ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	transition: all 0.3s;
}

.hidedescmodal {
	opacity: 0;
	visibility: hidden;
	-ms-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}


.descmodal input::-webkit-input-placeholder {
    color:    #FFFFFF;
}
.descmodal input:-moz-placeholder {
    color:    #FFFFFF;
}
.descmodal input::-moz-placeholder {
    color:    #FFFFFF;
}
.descmodal input:-ms-input-placeholder {
    color:    #FFFFFF;
}
.descmodal input:focus {
	border: 1px solid #0AC2D2;
	box-shadow: 0;
	outline: none;
	background: rgba(255,255,255,0.2);
}
	
.descmodal input{
	width: 300px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	color: #FFFFFF !important;
	background-color: transparent;
	display: block;
	margin-top: 10px;
}

.descmodal h2{
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
}

.descwrap {
	margin: 0 auto;
	background: rgba(0,0,0,0.1);
}

.descaction {
	position: absolute;
	bottom: 0;
	margin: 10px;
}

.descaccept {
	float: left;
}
.descaccept img:hover{
	-webkit-filter: invert(100%);  
}
.desccancel {
	float: right;
}
.desccancel img:hover{
	-webkit-filter: invert(100%);  
}
#portfolio_form label, #img_form label{
	display:inline-block;
	width: 200px;
}

/* DELETE PAGE STYLES*/

.deletecontainer {
	margin: auto;
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.deleteimagewrap {
	width: 75%;
	height: 100%;
	float: right;
	overflow-y: scroll;
}

.deleteimage {
	float: left;
	width: 25%;
	height: 50%;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	background: rgba(0,0,0,0.1);
}

.deleteportfolioimage {
	float: left;
	width: 25%;
	height: 50%;
	position: relative;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	background: rgba(0,0,0,0.1);
}
.deleteimageedit {
	position: absolute;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
}

.deleteimageedit img {
	opacity: 0.5;
	padding: 0;
	margin: 0;
	display: block;
}

.deletedescwrap, {
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
}

.deletedesc {
	background-color: rgba(255,255,255, 0.9) !important;
	position: absolute;
	top: 0;
	cursor: pointer;
	text-align: center;
	width: 100%;
}

.deletedesc h1{
	margin-bottom: 0.3em;
}
.deletedesc hr{
	width: 60%;
	background-color:#000;
	height: 3px;
	border: 0;
	margin-bottom: 1.4em;
}
.deletedesc p {
	padding: 0 5% !important;
	font-size: 1.1em !important;
}

.deletedesc img{
	opacity: 0.5;
	padding: 0;
	margin: 0;
	display: block;
}

.delportfolioimg, .delpictureimg{
	display: inline-block;
	position: absolute;
	right: 5;
	bottom: 5;	
	opacity: 0.6;
}
.delportfolioimg:hover, .delpictureimg:hover{
	opacity: 1;
	-webkit-filter: invert(100%);  
}

.deleteoverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}

/* EDIT PAGE STYLES */
.editcontainer {
	margin: auto;
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.editimagewrap {
	width: 75%;
	height: 100%;
	float: right;
	overflow-y: scroll;
}

.editimage {
	float: left;
	width: 25%;
	height: 50%;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	background: rgba(0,0,0,0.1);
}

.editportfolioimage {
	float: left;
	width: 25%;
	height: 50%;
	position: relative;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	background: rgba(0,0,0,0.1);
}
.editimageedit {
	position: absolute;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
}

.editimageedit img {
	opacity: 0.6;
	padding: 0;
	margin: 0;
	display: block;
}

.editportfolioimg, .editpictureimg{
	display: inline-block;
	position: absolute;
	right: 5;
	bottom: 5;	
	opacity: 0.6;
}
.editportfolioimg:hover, .editpictureimg:hover{
	opacity: 1;
	-webkit-filter: invert(100%);  
}

.editdescwrap, {
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
}

.editdesc {
	background-color: rgba(255,255,255, 0.9) !important;
	position: absolute;
	top: 0;
	cursor: pointer;
	text-align: center;
	width: 100%;
}

.editdesc h1{
	margin-bottom: 0.3em;
}
.editdesc hr{
	width: 60%;
	background-color:#000;
	height: 3px;
	border: 0;
	margin-bottom: 1.4em;
}
.editdesc p {
	padding: 0 5% !important;
	font-size: 1.1em !important;
}

.editdesc img{
	opacity: 0.5;
	padding: 0;
	margin: 0;
	display: block;
}

.editoverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}

/* ADMIN PAGE STYLES */

.adminoverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.showadminoverlay {
	opacity: 1;
    visibility: visible;
}

.admincontainer {
	margin: auto;
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.adminimagewrap {
	width: 75%;
	height: 100%;
	float: right;
	overflow-y: scroll;
}

.adminimage {
	float: left;
	width: 25%;
	height: 50%;
	position: relative;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	background: rgba(0,0,0,0.1);
}

.adminportfolioimage {
	float: left;
	width: 25%;
	height: 50%;
	position: relative;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
	background: rgba(0,0,0,0.1);
}

.adminimageedit {
	position: absolute;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
}

.adminimageedit img {
	opacity: 0.5;
	padding: 0;
	margin: 0;
	display: block;
}

.admindescwrap, .createdescwrap, .editdescwrap, .deletedescwrap {
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid #0ACAD2;
}

.admindesc {
	background-color: rgba(255,255,255, 0.9) !important;
	position: absolute;
	top: 0;
	cursor: pointer;
	text-align: center;
	width: 100%;
}
.admindesc h1{
	margin-bottom: 0.3em;
}
.admindesc hr{
	width: 60%;
	background-color:#000;
	height: 3px;
	border: 0;
	margin-bottom: 1.4em;
}
.admindesc p {
	padding: 0 5% !important;
	font-size: 1.1em !important;
}
.admindesc img{
	opacity: 0.5;
	padding: 0;
	margin: 0;
	display: block;
}

.imgscale {
	max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
